<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <title>{{page.title}}</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Родители детям</a></h1>
        </header>
        <main>
            {{{page.content}}}
        </main>
    </body>
</html>