<h1 class="login-header glassmorph">Ты тьютор? Докажи</h1>
<form class="login-form glassmorph" method="POST">
    {{#if auth_errors.session}}<div class="error">Ошибка генерации ключа сессии, попробуй позже</div>{{/if}}
    {{#if auth_errors.cookie}}<div class="error">Ошибка сохранения печенек, попробуй позже</div>{{/if}}

    <input type="text" name="login" placeholder="Логин" required {{#if user.login}}value="{{user.login}}"{{/if}} />
    {{#if auth_errors.login}}<div class="error">Что-то не так с этим логином...</div>{{/if}}
    <input type="password" name="password" placeholder="Пароль" required {{#if user.password}}value="{{user.password}}"{{/if}} />
    {{#if auth_errors.password}}<div class="error">Странный пароль...</div>{{/if}}
    {{#if auth_errors.not_found}}<div class="error">Странный пароль, а, может быть, и логин...</div>{{/if}}

    {{#if auth_errors.login}}
        <div class="error">Вывод: ты не тьютор, а тьюторас</div>
    {{/if}}
    {{#if auth_errors.password}}
        <div class="error">Вывод: ты не тьютор, а тьюторас</div>
    {{/if}}
    <div class="flex login-controls">
        <button type="submit">Войти</button>
        <button onclick="alert('Забайтил перваша!!!')">Забыл пароль</button>
    </div>
</form>