<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/github-dark.min.css"
/>
<link rel="stylesheet" href="/static/pages/guide.css" />

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked-gfm-heading-id/lib/index.umd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>


<div class="heading-wrapper">
    <a href="/"><button>🔙</button></a>
    <h1 class="glassmorph">{{post.title}}</h1>
</div>

<div id="guide-area" class="glassmorph">
    <div id="table_of_contents"></div>
    {{{post.content_html}}}
</div>

<script type="text/javascript">
    /*const mdToHTML = () => {
        const markdownText = ``;
        const html = marked.parse(markdownText);
        document.getElementById("guide-area").innerHTML = html;
    };
    marked.use(gfmHeadingId({}));
    mdToHTML();*/
    hljs.highlightAll();
</script>

<script type="text/javascript" src="/static/js/tableofcontents.js"></script>