@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  margin: 0;
  padding: 0;

  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 8rem 8rem;
  background-position: 4rem 4rem;
  color: #dcdcdc;
  font-size: 16px;
}

main {
  max-width: 1024px;
  width: calc(100dvw - 2rem);
  margin: 4rem auto;
  padding-top: 2rem;
}

.glassmorph {
  padding: 1.5rem;
  border-radius: 1.5rem;
  border: 1px solid #555;
  background-color: #aaaaaa22;
}

button {
  transition: 0.125s;
  padding: 0.5rem 1rem;
  font-size: large;
  width: 100%;
  color: currentColor;
  background-color: #aaaaaa22;
  border-radius: 1rem;
  border: 1px solid #555;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: #dcdcdc;
}

button:hover {
  background-color: #aaaaaa44;
}

button:active {
  background-color: #aaaaaa66;
}

.admin {
  display: none;
}

.admin.shown {
  display: inherit;
}

.index-header {
  text-align: center;
  font-size: 3rem;
}